# Gradle
.gradle/
build/

# Local configuration
local.properties

# Log files
*.log

# Android Studio
.idea/
*.iml

# Build outputs
*.apk
*.aab
output-metadata.json

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# OS files
.DS_Store

# Keystore files
*.jks
*.keystore

# Google services config
google-services.json

# Android profiling
*.hprof